body {
  margin: 8px}

h1 {
  margin: 22px;
}
h3 {
  margin: 18px 0;}
img {
    height: 200px;
  }
hr {
  margin: 8px 0;
}
.background {
  background-color: #f9f9f9;
}
#lezioni .row img {
  height: 150px;
  margin-right: auto;
  margin-left: auto;
}
#lezioni,#steps ,#why  {
  text-align: center;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}


/* layout <767px */
@media screen and (max-width: 767px) {
  /* generali */
body {
  font-size: 4em;
}

h1 {
  font-size: 1.2em;
  text-transform: uppercase;
}
/* row 1 */
#lezioni {
  color: white;
  background-color: #6c80a6;
  padding-bottom: 15px;
}
#lezioni h3 {
  text-transform: uppercase;
  background-color: #e6a422;
}

  /* row 3 */
#why {
    background-color: #6c80a6;
  }
#why h3 {
    color: black;
  }
}
/* layout <767px<992px */

@media all and (min-width:768px) and (max-width:992px) {
body {
  font-size: 1.4em;
}
#steps {
  background: #6c80a6;
}
#steps h3 {
  color: white;
  font-weight: bold;
}
}
/* layout >992px */

@media all and (min-width:993px) {
h3 {
  margin: 18px 0;
}
.row {
  width: 992px;
  margin-top: 100px;
}
#lezioni .left img {
  height: 200px;
  margin: 0 148px;
}
#lezioni .right img {
  height: 200px;
  margin: 0 84px;
}
#why .row img {
  width: 260px;
  height: 260px;

}
#why .second {
  margin: 80px 0;
}
}
